@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

p, h2, h3, h4 {
    font-family: 'Indie Flower', cursive;
}

body {
    background-color: yellowgreen;
}

.intro {

    font-family: 'Indie Flower';
    font-size: 13px;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;

}



.food {
    width: 350px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 21px;
}
.ntr {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 20px;

    
}

th {
    width: 20px;
}

.info {
    display: none;
    width: 500px;
    height: 395;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.container {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    padding-left: 20px;
    padding-bottom: 1px;

}

.symptom, .nutrient {
    padding: 0px;

}

.form-container {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    width: 500px;
    font-size: 0;
    margin-left: auto;
    margin-right: auto;
}

 .search > button {
    width: 100px;
    height: 40px;
    font-size: 14;
    border-radius: 20px;
    color: white;
    background-color: black;
    font-family: 'Indie Flower', cursive;
    margin: 1px;
}

.loading{
    font-size: 30px;
}

table {
    font-family: 'Indie Flower', cursive;
    font-weight: 500;
}

.intro > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 300px;
    
}
.quote {

    font-size: 15px;
}

.searchAgain {
    display: none;
    width: 100px;
    height: 40px;
    padding-top: 5px;
    font-size: 15;
    font-weight: 20px;
    border-radius: 20px;
    color: black;
    margin-left: 180px;
    background-color: orangered;
    font-family: 'Indie Flower', cursive;

}

}


