body {
    background-color: #F1D2A0;
    color: #140F05;
    font-family: 'Oswald', sans-serif;
}

.logo {
    font-size: 40px;
    text-align: center;
    border: 1px solid black;
    font-family: 'Bangers', 'cursive';   
}

.about {

    font-size: 30px;
    text-align: center;
}

footer > h5 {
    background-color: #C1DB11;
    text-align: center;
    box-shadow: 2px 2px;
    border: 1px solid black;
}

footer {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}

h1 {
    background-color: #C1DB11;
    box-shadow: 2px 2px;
    width: 20px;
    border: 1px solid black;
    padding: 10px;
}

.intro {
    color: black;
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;

}

.intro > p {

    font-size: 20px;
    font-family: 'Source Serif Pro';
}



.food {
    width: 93%;
    height: 40px;
    color: #140F05;
    font-size: 25px;
    padding: 10px;

}
.ntr {
    color: #140F05;
    font-size: 20px;
}

tr {
    background-color: #AA8454;
    font-family: 'Oswald', 'sans serif';

}

th {
    width: 20px;
    font-family: 'Oswald', 'sans serif';
    font-size: 18px;
    background-color: #C1DB11;
    }
    

.info {
    display: none;
    color: #140F05;
    font-family: 'Oswald', 'sans serif';
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.list, tr, td {
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;

}

.symptom, .nutrient {
    padding: 0px;

}

.form-container {
    padding: 20px;
    font-size: 0;
    margin-left: auto;
    margin-right: auto;
}

.btn-container > div {
    margin: 0 auto;    

}

 button {
    box-shadow: 2px 2px #140F05;
    height: 50px;
    font-size: 22;
    color: #140F05;
    background-color: #AA8454;
    font-family: 'Oswald', 'sans serif';
}

.loading{
    font-size: 25px;
}

table {
    font-weight: 500;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
        
}

.quote {

    font-size: 15px;
}

.searchAgain {
    display: none;
    width: 200px;
    height: 40px;
    padding-top: 5px;
    font-size: 22;
    color: black;
    background-color: #AA8454;
    margin-top: 55px;

}

.reSearch {
    width: 250px;
    
    margin-left: auto;
    margin-right: auto;
}